<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auto Login Manager</title>
    <link rel="stylesheet" href="/x-css/bootstrap-5-support.css" />
  </head>
  <body ng-controller="mainController">
    <h1 class="center">Auto Login Manager</h1>
    <fieldset>
      <legend>New Login Information</legend>
      <div class="row" id="loginData">
        <i-control v="r" class="col4" ng-model="info.url" label="Site URL (Default)"></i-control>
        <i-control v="r" class="col4" ng-model="info.username" label="User Name"></i-control>
        <i-control v="r" class="col4" type="password" ng-model="info.password" label="Password (Default)"></i-control>
      </div>
      <div class="row">
        <div>
          <i-button type="add" label="Add To Login List" ng-click="addToLoginList()"></i-button>
          <i-upload api="/__social_tools/api/import-login-list" label="Upload Login List" on-uploaded="afterLoginListImported($data)"></i-upload>
          <i-button type="download" ng-click="export()" label="Download All List"></i-button>
          <i-button type="download" ng-click="export(true)" label="Download Selected Logins"></i-button>
        </div>
      </div>
    </fieldset>
    <table class="table hover">
      <tr>
        <th>index</th>
        <th>Site URL</th>
        <th>User Name</th>
        <th>Password</th>
        <th>
          Actions <i-button type="login" label="Test All Login" ng-click="testAllLogin()"></i-button>
          <i-button type="play" label="Create All Profile" ng-click="createAllProfile()"></i-button>
        </th>
      </tr>
      <tr ng-repeat="login in loginList | filter:info track by $index">
        <td>
          <span class="blue bold center">{{$index + 1}}</span>
          <i-checkbox ng-model="login.$select"></i-checkbox>
        </td>
        <td><i-control ng-model="login.url"></i-control></td>
        <td><i-control ng-model="login.username"></i-control></td>
        <td><i-control type="password" ng-model="login.password"></i-control></td>
        <td>
          <i-button type="login" label="test login" ng-click="testLogin(login)"></i-button>
          <i-button type="open" label="Open" ng-click="openLogin(login)"></i-button>
          <i-button type="play" label="create Profile" ng-click="createProfile(login)"></i-button>
          <i-button type="delete" ng-click="delete(login)"></i-button>
        </td>
      </tr>
    </table>

    <script src="/x-js/bootstrap-5-support.js"></script>
    <script>
      app.controller('mainController', function ($scope, $http, $timeout, $interval) {
        $scope.siteLoginScript = site.from123('/*###site-login.js*/');
        $scope.info = {};
        $scope.loginList = [];
        $scope.addToLoginList = function (info) {
          const v = site.validated('#loginData');
          if (!v.ok) {
            return;
          }
          $scope.loginList.push({ url: $scope.info.url, username: $scope.info.password, password: $scope.info.password });
          $scope.info = {};
        };
        $scope.delete = function (login) {
          let index = $scope.loginList.findIndex((l) => l.url == login.url && l.username == login.username);
          if (index !== -1) {
            $scope.loginList.splice(index, 1);
          }
        };
        $scope.afterLoginListImported = function (data) {
          data.list.forEach((login) => {
            login.url = login.url || $scope.info.url;
            login.password = login.password || $scope.info.password;
          });
          $scope.loginList = data.list;
        };

        $scope.createAllProfile = function () {
          $scope.loginList.forEach((login, i) => {
            $scope.createProfile(login);
          });
        };
        $scope.createProfile = function (login) {
          SOCIALBROWSER.addSession({ display: login.username, defaultUserAgent: SOCIALBROWSER.var.core.defaultUserAgent });
        };
        $scope.testAllLogin = function () {
          $scope.loginList.forEach((login, i) => {
            $timeout(() => {
              $scope.testLogin(login);
            }, 1000 * 20 * i);
          });
        };

        $scope.testLogin = function (login) {
          login.url = login.url || $scope.info.url;
          login.password = login.password || $scope.info.password;
          login.session = login.session || SOCIALBROWSER.var.session_list.find((s) => s.display == login.username) || { name: 'persist:' + SOCIALBROWSER.md5(login.username), display: login.username };
          let code = `SOCIALBROWSER.fakeview123 = '${SOCIALBROWSER.to123(login)}';`;
          SOCIALBROWSER.ipc('[open new popup]', {
            partition: login.session.name,
            url: login.url,
            eval: code + $scope.siteLoginScript,
            show: true,
            center: true,
            timeout: 1000 * 30,
          });
        };

        $scope.openLogin = function (login) {
          login.url = login.url || $scope.info.url;
          login.password = login.password || $scope.info.password;
          login.session = login.session || SOCIALBROWSER.var.session_list.find((s) => s.display == login.username) || { name: 'persist:' + SOCIALBROWSER.md5(login.username), display: login.username };
          SOCIALBROWSER.ipc('[open new popup]', {
            partition: login.session.name,
            url: login.url,
            show: true,
            center: true,
          });
        };

        $scope.export = function (selected = false) {
          let list = [];
          $scope.loginList.forEach((login) => {
            if (selected && login.$select) {
              list.push({ url: login.url, username: login.username, password: login.password });
            } else if (!selected) {
              list.push({ url: login.url, username: login.username, password: login.password });
            }
          });

          $http({
            url: '/__social_tools/api/export-login-list',
            method: 'post',
            data: {
              json: JSON.stringify(list),
            },
          }).then(() => {
            document.location.href = '/__social_tools/api/export-login-list';
          });
        };
      });
    </script>
  </body>
</html>
