webview {
    background-color: #fff;
    display: -webkit-flex;
    position: fixed;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

webview.hide {
    visibility: hidden;
}

div.search {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 35px;
    padding: 2px;
    background-color: #282828;
}

#button1 {
    width: 15%;
    height: 100%;
    margin-left: 1%;
    background-color: #282828;
    border: 1px solid #191919;
    color: #fff;
    border-radius: 10px;
}

#button1:hover {
    border: 1px solid #fff;
    background-color: green;
}

#input1 {
    width: 80%;
    height: 100%;
    background-color: #282828;
    border: 1px solid #191919;
    color: #fff;
}

.indicator {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #191919;
    color: #fff;
}