.browser-tabs.browser-tabs-dark-theme {
  background: linear-gradient(#1b1d1f, #1d1f21);
  box-shadow: 0 0.05em #282828;
}
.browser-tabs.browser-tabs-dark-theme .browser-tabs-bottom-bar {
  background: #505050;
  box-shadow: 0 -0.05em rgba(0,0,0,0.5);
}
.browser-tabs.browser-tabs-dark-theme .social-tab .social-tab-background > svg .social-tab-shadow {
  stroke: rgba(0,0,0,0.5);
}
.browser-tabs.browser-tabs-dark-theme .social-tab .social-tab-background > svg .social-tab-background {
  fill: #373737;
}
.browser-tabs.browser-tabs-dark-theme .social-tab.social-tab-current .social-tab-background > svg .social-tab-background {
  fill: #505050;
}
.browser-tabs.browser-tabs-dark-theme .social-tab .social-tab-title {
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.browser-tabs.browser-tabs-dark-theme .social-tab .social-tab-close:not(:hover)::before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'><path stroke='#cfcfcf' stroke-linecap='round' stroke-width='1.125' d='M4 4 L10 10 M10 4 L4 10'></path></svg>");
}
