* {
  filter: none !important;
  -webkit-filter: none !important;
}

.__block_eye {
  filter: blur(50px) !important;
  -webkit-filter: blur(50px) !important;
}

video0 {
  width: 100%;
  height: 90%;
}
#xxx__browser a {
  color: yellow;
  text-decoration: underline;
  font-style: italic;
}

#__blockDiv {
  display: none;
  position: fixed;
  background: #000000;
  color: #ffffff;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 22px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 50px;
  z-index: 9999998;
}

#__bookmarkDiv {
  display: none;
  position: fixed;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 22px;
  left: 0px;
  right: 0px;
  bottom: 100px;
  padding: 50px;
  z-index: 9999998;
}
#__bookmarkDiv a {
  display: inline-block;
  margin: 5px;
  background: #fff;
  padding: 0px;
  color: blue !important;
  transition: all 0.2s ease;
  text-decoration: none;
}
#__bookmarkDiv p:hover {
  text-decoration: underline !important;
}
#__bookmarkDiv p {
  font-size: 12px;
}
#__bookmarkDiv img,
#__bookmarkDiv p {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
#__alertBox {
  display: none;
  position: fixed;
  background: #ffffff;
  color: #000000;
  width: auto;
  height: auto;
  margin: 5% auto;
  text-align: center;
  font-size: 22px;
  left: 200px;
  right: 200px;
  padding: 20px;
  border: 5px solid #2196f3;
  top: 200px;
  z-index: 9999999;
}

#__targetUrl {
  font-family: monospace;
  padding-left: 10px;
  display: none;
  position: fixed;
  background: #03a9f4;
  color: #ffffff;
  font-size: 14px;
  left: 0px;
  bottom: 0px;
  padding: 5px;
  padding-left: 10px;
  z-index: 9999999;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  direction: ltr;
  max-height: 30px;
  overflow: hidden;
}
#__targetUrl:hover{
  display: none;
}
#__downloads {
  padding: 5px;
  font-family: sans-serif;
  display: none;
  position: fixed;
  background: #ffffff;
  color: #3a3838;
  font-size: 14px;
  right: 0px;
  bottom: 0px;
  z-index: 9999999;
  border: 1px solid #bbb;
}

#__find {
  user-select: none;
  display: none;
  position: fixed;
  top: 30px;
  right: 30px;
  background: #2196f3;
  border: 1px solid #3f51b5;
  padding: 5px;
  z-index: 99999999;
  width: 350px;
  height: auto;
}
#__find a {
  color: #fff !important;
  background: #2196f3;
  text-decoration: none !important;
  cursor: pointer !important;
  border: 1px solid #3f51b5 !important;
  padding: 5px 7px !important;
  margin: 0px !important;
  font-size: 12px !important;
  font-weight: bold;
  font-style: normal;
}
#__find input {
  border: 1px solid #3f51b5;
  height: 25px !important;
  outline: #3f51b5 !important;
  font-size: 12px !important;
  width: 250px !important;
}

#__find span {
  font-weight: bold;
  margin-left: 20px;
  color: #fff;
  background: #000;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px !important;
}

#__video_element {
  z-index: 9999999;
  position: fixed;
  display: none;
  background: #000;
  height: 230px;
  width: 420px;
  padding: 1px;
  right: 5px;
  bottom: 5px;
}

#__warning_img {
  display: none;
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 999999;
}
#__warning_img img {
  width: 50px;
}

#__loading_img {
  display: none;
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 999999;
}
#__loading_img img {
  width: 50px;
}

#__bot_img {
  display: none;
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 999999;
}
#__bot_img img {
  border: 5px solid green;
  width: 150px;
  border-radius: 10px;
}

.__border {
  border: 2px solid red;
}
.__done {
  border: 2px solid green;
}
.__waiting {
  border: 2px dashed red;
}
/* 
::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #9e9e9e;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #030303; 
  } */

@media screen and (max-width: 768px /*mobile*/) {
  #__alertBox {
    border: 1px solid #2196f3;
    font-size: 12px;
    left: 0px;
    right: 0px;
    padding: 5px;
    top: 50px;
  }
}
